$accent-color: #012BBF;
$light-color: #fff;
$stroke: #D9D9D9;

$fw-5: 500;
@mixin before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 46px;
    transform: translateY(-150%);
    border-radius: 20px;
    background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
    box-shadow: 0px 0px 10px $accent-color;
    margin-right: 10px;
}
@mixin text {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4;
}
@mixin btn-hov {
    background-color: #2546be;
    transition: all .8s;
}

//+ base:
* {
    font-family: Rubik, sans-serif;
    &:hover {
        text-decoration: none !important;
    }
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}

a:hover {
    color: inherit;
}

//+ btn:

.button {
    display: flex;
    align-items: center;
    background-color: $accent-color;
    color: $light-color;
    line-height: 1.4;
    border: none;
    border-radius: 40px;
    &:hover {
        @include btn-hov;
    }
}

//+ heading:

.heading-small {
    color: $stroke;
    font-weight: $fw-5;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 27px;
    &:before {
        @include before;
    }
}

.heading-white {
    color: $light-color;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    &:before {
        @include before;
    }
}

.heading-black {
    color: #181a16;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    &:before {
        @include before;
    }
}

//+ cads:
.cards {
    .row {
        gap: 40px;
        padding: 0 15px;
    }
    &__card {
        color: rgba(#000, 12%);
        border-radius: 20px;
        min-height: 293px;
        background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
        position: relative;
        &:nth-child(2),
        &:nth-child(3) {
            color: rgba(255, 255, 255, 12%);
            background: #26272E;
            &:before {
                content: '';
                display: block;
                width: 26px;
                height: 94px;
                background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
                border-radius: 20px;
                position: absolute;
                top: 30px;
                left: -10px;
                z-index: -1;
            }
        }
        &:nth-child(3):after {
            content: '';
            display: block;
            width: 320px;
            height: 293px;
            background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
            border-radius: 20px;
            position: absolute;
            left: 47px;
            bottom: -32px;
            z-index: -1;
        }
    }
    &__wrapper {
        overflow: hidden;
        line-height: 1.4;
        padding: 95px 73px 35px 30px;
    }
    &__number {
        font-weight: 700;
        font-size: 81px;
        line-height: 1.4;
        color: inherit;
        position: absolute;
        right: 18px;
    }
    &__data {
        color: $light-color;
        font-weight: 700;
        font-size: 50px;
                &:after {
            content: '';
            height: 2px;
            width: 90px;
            display: block;
            border-radius: 8px;
            background-color: $light-color;
            margin: 8px 0;
        }
    }
    &__text {
        color: #d9d9d9;
        font-weight: 400;
        font-size: 18px;
    }
}

//+ product-card:

//+ sections:
.section {
    padding: 120px 0;
}
.gradient {
    background: linear-gradient(314deg, #181a16 0%, #021c7a 71.12%, #0555bf 100%);
    transform: rotate(-180deg);
}

//+ header:
.bg-blure {
    background: rgba(#021c7a, 60%);
    backdrop-filter: blur(4px);
    transition: background .8s, backdrop-filter .8s, padding-bottom .5s;
    padding-bottom: 20px;
}
.header {
    width: 100%;
    padding-top: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    &__logo {
        margin-right: 23px;
    }
    &__top {
        margin-bottom: 16px;
    }
    &__search {
        height: 40px;
        width: 100%;
        border: 1px solid rgba(217, 217, 217, 0.4);
        border-radius: 40px;
        padding: 10px 20px;
        @include text;
        color: $stroke;
    }
    &__contact {
        justify-content: end;
        gap: 44px;
        color: $light-color;
        font-size: 16px;
        line-height: 1.5;
    }
    &__lin {
        color: $light-color;
    }
    &__contact i {
        color: $accent-color;
        margin-right: 13px;
    }
    &__bottom {
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
        gap: 20px;
        font-weight: $fw-5;
        list-style-type: none;
        @include text;
        color: $light-color;
        padding: 0;
        margin: 0;
    }
    .button-header {
        font-weight: 500;
        font-size: 16px;
        padding: 16px 36px;
    }
    &__link {
        color: inherit;
    }
    a:hover {
        text-decoration: underline !important;
    }
}

//+ main:

.first {
    min-height: 900px;
    height: 100%;
    .owl-stage {
     display: flex;   
    }
    &__main-item {
        height: 100%;
        overflow: hidden;
    }
    &__wrapper {
        height: inherit;
        padding-top: 150px;
    }
    .container {
        height: inherit;
    }
    &__inner-wrapper {
        height: inherit;
        border-right: 1px solid $stroke;
        padding: 50px 0 51px;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 150%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__image-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    &__image-inner-wrapper {
        height: inherit;
        width: inherit;
        &:after {
            content: '';
            width: 50%;
            height: 100%;
            background: linear-gradient(90deg, #181b17 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
        }
    }
    &__img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
    &__offer {
        margin-bottom: 57px;
    }
    &__h1 {
        color: rgba($light-color, 10%);
        font-weight: 600;
        font-size: 54px;
        -webkit-text-stroke: .5px $light-color;
        line-height: 1.4;
    }
    &__subheading {
        color: $light-color;
        font-weight: $fw-5;
        font-size: 50px;
        line-height: 1.4;
        margin-bottom: 50px;
    }
    .button-first {
        font-weight: 600;
        font-size: 15px;
        padding: 20px 35px;
    }
    .button:first-child:before {
        content: '';
        width: 26px;
        height: 26px;
        display: inline-block;
        background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='13' fill='white'/%3E%3Cpath d='M9.5 13C9.22386 13 9 13.2239 9 13.5C9 13.7761 9.22386 14 9.5 14L9.5 13ZM18.8536 13.8536C19.0488 13.6583 19.0488 13.3417 18.8536 13.1464L15.6716 9.96447C15.4763 9.7692 15.1597 9.7692 14.9645 9.96447C14.7692 10.1597 14.7692 10.4763 14.9645 10.6716L17.7929 13.5L14.9645 16.3284C14.7692 16.5237 14.7692 16.8403 14.9645 17.0355C15.1597 17.2308 15.4763 17.2308 15.6716 17.0355L18.8536 13.8536ZM9.5 14L18.5 14L18.5 13L9.5 13L9.5 14Z' fill='url(%23paint0_linear_1_628)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_628' x1='3.26923' y1='6.50001' x2='21.502' y2='12.9456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230239FE'/%3E%3Cstop offset='1' stop-color='%23027FFE'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center /cover no-repeat;
        margin-right: 15px;
    }
    .button:last-child {
        background-color: #26272E;
        border: 2px solid $accent-color;
        padding: 20px 58px;
        &:hover {
            background-color: #2e2f3b;
        }
    }
    &__btns {
        font-size: 15px;
        gap: 30px;
    }

    //+ first__next-item

    &__next-item {
        height: inherit;
    }
}

.promotion {
    .promotion__wrapper {
        transform: rotate(-180deg);
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 1400px;
    }
}