$accent-color: #012BBF;
$light-color: #fff;
$stroke: #D9D9D9;

$fw-5: 500;
@mixin before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 46px;
    transform: translateY(-50%);
    border-radius: 20px;
    background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
    box-shadow: 0px 0px 10px $accent-color;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 0;
}
@mixin text {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4;
}
@mixin btn-hov {
    background-color: #2546be;
    transition: all .8s;
}

//+ base:
* {
    font-family: Rubik, sans-serif;
    &:hover {
        text-decoration: none !important;
    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0px 10px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
}
a:hover {
    color: inherit;
}

//+ btn:

.button {
    display: flex;
    align-items: center;
    background-color: $accent-color;
    color: $light-color;
    line-height: 1.4;
    border: none;
    border-radius: 40px;
    &:hover {
        @include btn-hov;
    }
}

//+ heading:

.heading-small {
    color: $stroke;
    font-weight: $fw-5;
    font-size: 18px;
    line-height: 1.4;
    padding-left: 70px;
    margin-bottom: 27px;
    position: relative;
    &:before {
        @include before;
    }
}
.heading-big {
    color: $light-color;
    font-weight: $fw-5;
    font-size: clamp(20px, 2.2vw, 36px);
    line-height: 1.4;
    padding-left: 70px;
    margin-bottom: 60px;
    position: relative;
    &:before {
        @include before;
    }
}

.heading-white {
    color: $light-color;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    &:before {
        @include before;
    }
}

.heading-black {
    color: #181a16;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    &:before {
        @include before;
    }
}

//+ cads:
.cards {
    .row {
        gap: 40px;
        padding: 0 15px;
    }
    &__card {
        color: rgba(#000, 12%);
        border-radius: 20px;
        min-height: 293px;
        background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
        position: relative;
        &:nth-child(2),
        &:nth-child(3) {
            color: rgba(255, 255, 255, 12%);
            background: #26272E;
            &:before {
                content: '';
                display: block;
                width: 26px;
                height: 94px;
                background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
                border-radius: 20px;
                position: absolute;
                top: 30px;
                left: -10px;
                z-index: -1;
            }
        }
        &:nth-child(3):after {
            content: '';
            height: 293px;
            width: 320px;
            display: block;
            background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
            border-radius: 20px;
            position: absolute;
            left: 47px;
            bottom: -32px;
            z-index: -1;
        }
    }
    &__wrapper {
        overflow: hidden;
        line-height: 1.4;
        padding: 95px 73px 35px 30px;
    }
    &__number {
        font-weight: 700;
        font-size: 81px;
        line-height: 1.4;
        color: inherit;
        position: absolute;
        right: 18px;
    }
    &__data {
        color: $light-color;
        font-weight: 700;
        font-size: 50px;
        &:after {
            content: '';
            height: 2px;
            width: 90px;
            display: block;
            border-radius: 8px;
            background-color: $light-color;
            margin: 8px 0;
        }
    }
    &__text {
        color: #d9d9d9;
        font-weight: 400;
        font-size: 18px;
    }
}
@media (max-width: 1199px) {
    .cards {
        &__card {
            min-height: 150px;
            &:nth-child(3):after {
                content: '';
                height: 220px;
                width: 220px;
                display: block;
                background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
                border-radius: 20px;
                position: absolute;
                left: 47px;
                bottom: -32px;
                z-index: -1;
            }
        }
        &__wrapper {
            padding: 70px 63px 15px 20px;
        }
        &__number {
            font-weight: 600;
            font-size: 70px;
        }
        &__data {
            font-size: 35px;
        }
        &__text {
            font-size: 14px;
        }
    }
}
@media (max-width: 992px) {
    .cards {
        &__card:nth-child(3):after {
            content: '';
            display: none;
        }
    }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {
    .cards__card {
        &:nth-child(2),
        &:nth-child(3) {
            &:before {
                content: '';
                display: none;
            }
        }
    }
}
.anime {
    animation-fill-mode: forwards;
    animation-direction:unset;
    height: 293px;
    width: 320px;
    display: block;
    font-size: 16px;
    background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
    border-radius: 20px;
    position: absolute;
    top: -100%;
    left: 15px;
    z-index: 0;
}
@keyframes cube-0 {
    0% {
        top: -100%;
    }
    50% {
        top: 10%;
    }
    100% {
        background: #26272E;
        top: 453px;
        left: 60px;
    }
}
@keyframes cube-1 {
    0% {
        top: -100%;
    }
    50% {
        top: 10%;
    }
    100% {
        top: 453px;
        left: 445px;
    }
}

//+ product-card:
.product-card {
    min-height: 390px;
    height: 100%;
    width: 328px;
    flex-direction: column;
    border-radius: 20px;
    background: #fff;
    padding: 30px 20px;
    &:hover {
        min-height: calc(390px + 22px);
        transition: .5s;
    }
    &__btm {
        height: 54px;
        width: 200px;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        color: $light-color;
        background: #012bbf;
        border-radius: 40px;
        transition: 1.5s;
        position: absolute;
        bottom: -22px;
        transform: translateX(-50%);
        left: 50%;
    }
    &:hover > &__btm {
        opacity: 1;
        transition: .7s;
        &:hover {
            border: 1.5px solid #012bbf;
            background-color: #ffffff;
            transition: .8s;
        }
    }
    &__promotion {
        color: $light-color;
        border-radius: 20px;
        background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
        padding: 5px 35px;
    }
    &__link {
        font-size: 14px;
        line-height: 1.7;
        color: #ccc;
        transition: .5s;
        &:after {
            content: '';
            display: inline-block;
            height: 15px;
            width: 30px;
            background: url("data:image/svg+xml,%3Csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9H30V7H0V9Z' fill='url(%23paint0_linear_92_80)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_92_80' x1='-7' y1='6.99999' x2='28.5' y2='8.00002' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23032A8B' /%3E%3Cstop offset='1' stop-color='%231472DF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") center /cover no-repeat;
            margin-left: 8px;
        }
    }
    &__image-wrapper {
        height: 214px;
        max-width: 326px;
    }
    &__description {
        color: #181a16;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        padding-top: 18px;
        border-bottom: 1px solid rgb(217, 217, 217);
        padding-bottom: 11px;
        margin-bottom: 11px;
    }
    &__price {
        gap: 20px;
        align-items: center;
        color: #012bbf;
        font-weight: 600;
        font-size: 26px;
        line-height: .9;
    }
    &__discount {
        color: #ccc;
        text-decoration: line-through !important; //+ Т.к. я у всех ссылок изначально сбросил...
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
    }
}
@media (max-width: 1390px) {
    .product-card {
        min-height: 250px;
        width: 300px;
        padding: 25px 10px;
        &__btm {
            height: 50px;
            width: 180px;
        }
        &__promotion {
            padding: 5px 35px;
        }
        &__link {
            font-size: 14px;
        }
        &__image-wrapper {
            height: 214px;
            max-width: 326px;
        }
        &__description {
            font-size: 14px;
            line-height: 1.4;
            padding-top: 18px;
            padding-bottom: 11px;
            margin-bottom: 11px;
        }
        &__price {
            font-size: 21px;
        }
        &__discount {
            font-size: 16px;
        }
    }
}
@media (max-width: 767px) {
    .product-card {
        min-height: 200px;
        width: 250px;
        padding: 25px 10px;
        &__btm {
            height: 50px;
            width: 180px;
        }
        &__promotion {
            padding: 2px 20px;
        }
        &__link {
            font-size: 14px;
        }
        &__image-wrapper {
            height: 200px;
            max-width: 314px;
        }
        &__description {
            font-size: 14px;
            line-height: 1.4;
            padding-top: 18px;
            padding-bottom: 11px;
            margin-bottom: 11px;
        }
        &__price {
            font-size: 21px;
        }
        &__discount {
            font-size: 16px;
        }
    }
}
@media (max-width: 575px) {
    .product-card {
        min-height: 250px;
        width: 300px;
        padding: 25px 10px;
        &__btm {
            height: 50px;
            width: 180px;
        }
        &__promotion {
            padding: 5px 35px;
        }
        &__link {
            font-size: 14px;
        }
        &__image-wrapper {
            height: 214px;
            max-width: 326px;
        }
        &__description {
            font-size: 14px;
            line-height: 1.4;
            padding-top: 18px;
            padding-bottom: 11px;
            margin-bottom: 11px;
        }
        &__price {
            font-size: 21px;
        }
        &__discount {
            font-size: 16px;
        }
    }
}
@media (max-width: 360px) {
    .product-card {
        min-height: 200px;
        width: 250px;
        padding: 25px 10px;
        &__btm {
            height: 50px;
            width: 180px;
        }
        &__promotion {
            padding: 2px 20px;
        }
        &__link {
            font-size: 14px;
        }
        &__image-wrapper {
            height: 200px;
            max-width: 314px;
        }
        &__description {
            font-size: 14px;
            line-height: 1.4;
            padding-top: 18px;
            padding-bottom: 11px;
            margin-bottom: 11px;
        }
        &__price {
            font-size: 21px;
        }
        &__discount {
            font-size: 16px;
        }
    }
}

//+ sections:
.section {
    padding: 120px 0;
}
.gradient {
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        background: linear-gradient(314deg, #181a16 0%, #021c7a 71.12%, #0555bf 100%);
        transform: rotate(-180deg);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}


//+ header:
.bg-blure {
    background: rgba(#021c7a, 60%);
    backdrop-filter: blur(4px);
    transition: background .8s, backdrop-filter .8s, padding-bottom .5s;
    padding-bottom: 20px;
}
.header {
    width: 100%;
    padding-top: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    &__logo {
        height: 98px;
        width: 209px;
        object-fit: cover;
    }
    &__top {
        margin-bottom: 16px;
    }
    &__search {
        height: 40px;
        width: 100%;
        background: transparent;
        border: 1px solid rgba(217, 217, 217, 0.4);
        border-radius: 40px;
        padding: 10px 20px;
        @include text;
        color: $stroke;
        &::placeholder {
            color: inherit;
        }
    }
    &__contact {
        justify-content: end;
        gap: 44px;
        color: $light-color;
        font-size: 16px;
        line-height: 1.5;
    }
    &__lin {
        color: $light-color;
    }
    &__contact i {
        color: $accent-color;
        margin-right: 13px;
    }
    &__bottom {
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
        gap: 20px;
        font-weight: $fw-5;
        list-style-type: none;
        @include text;
        color: $light-color;
        padding: 0;
        margin: 0;
    }
    .button-header {
        font-weight: 500;
        font-size: 16px;
        padding: 16px 36px;
    }
    &__link {
        white-space: nowrap;
        color: inherit;
    }
    a:hover {
        text-decoration: underline !important;
    }
}
@media (max-width: 1249px) {
    .header__nav {
        overflow: auto;
        max-width: 700px;
    }
}
@media (max-width: 1199px) {
    .header {
        padding: 0;
        &__burger-wrapper {
            height: 50px;
            width: 50px;
            cursor: pointer;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 40px;
            z-index: 100;
        }
        .button-header {
            display: none;
        }
        &__burger {
            height: 1px;
            width: 38px;
            background-color: #fff;
            transition: .7s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            &:before {
                content: '';
                height: 1px;
                width: 38px;
                display: block;
                background-color: #ffffff;
                transition: 1s;
                position: absolute;
                top: 10px;
            }
            &:after {
                content: '';
                height: 1px;
                width: 38px;
                display: block;
                background-color: #ffffff;
                transition: 1s;
                position: absolute;
                top: -10px;
            }
        }
        .blur {
            backdrop-filter: blur(4px);
        }
        &__burger.active:before {
            top: 50%;
            transform: rotate(45deg);
            transition: 1s;
        }
        &__burger.active {
            background-color: transparent;
            transition: .7s;
        }
        &__burger.active:after {
            top: 50%;
            transform: rotate(-45deg);
            transition: 1s;
        }
        &__adaptive {
            height: 100vh;
            width: 38%;
            display: flex;
            flex-direction: column;
            overflow: auto;
            background-color: #383636;
            padding: 100px 40px 50px 20px;
            transition: 1s;
            position: absolute;
            top: 0;
            right: -100%;
        }
        .appearance {
            right: 0%;
        }
        &__top {
            display: flex;
            flex-direction: column;
            align-items: end !important;
            margin-bottom: 25px;
        }
        &__top .row {
            width: 100%;
            flex-direction: column;
            align-items: end !important;
            gap: 28px;
        }
        &__top .col-lg-6 {
            width: 100%;
            max-width: 100%;
        }
        &__del {
            display: none;
        }
        &__contact {
            flex-direction: column;
            text-align: right;
            gap: 28px;
        }
        &__bottom {
            order: -1;
            flex-direction: column;
            gap: 50px;
            align-items: end;
            margin-bottom: 40px;
        }
        &__menu {
            flex-direction: column;
            gap: 45px;
            text-align: right;
        }
        &__link {
            width: 100%;
            padding: 18px 0 18px 50px;
        }
    }
    .button-header {
        width: 70%;
        justify-content: center;
    }
    .hide {
        overflow: hidden;
    }
}
@media (max-width: 770px) {
    .header {
        &__adaptive {
            width: 50%;
        }
        &__top .row {
            max-width: 100% !important;
        }
    }
}
@media (max-width: 610px) {
    .header {
        &__adaptive {
            width: 60%;
        }
    }
}
@media (max-width: 483px) {
    .header {
        &__adaptive {
            width: 100%;
        }
        &__burger-wrapper {
            right: 15px;
        }
    }
    .header * {
        font-size: 14px;
    }
}

//+ main:
//+ first:
.first {
    min-height: 900px;
    height: 100%;
    .owl-stage {
     display: flex;   
    }
    &__main-item {
        height: 100%;
        overflow: hidden;
    }
    &__wrapper {
        height: inherit;
        padding-top: 150px;
    }
    .container {
        height: inherit;
        position: relative;
    }
    &__inner-wrapper {
        height: inherit;
        border-right: 1px solid $stroke;
        padding: 50px 0 51px;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 150%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__image-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    &__image-inner-wrapper {
        height: inherit;
        width: inherit;
        &:after {
            content: '';
            width: 50%;
            height: 100%;
            background: linear-gradient(90deg, #181b17 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
        }
    }
    &__img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
    &__offer {
        margin-bottom: 57px;
    }
    &__h1 {
        color: rgba($light-color, 10%);
        font-weight: 600;
        font-size: clamp(30px, 3vw, 54px);
        -webkit-text-stroke: .5px $light-color;
        line-height: 1.4;
    }
    &__subheading {
        color: $light-color;
        font-weight: $fw-5;
        font-size: clamp(20px, 2.5vw, 50px);
        line-height: 1.4;
        margin-bottom: 50px;
    }
    .button-first {
        font-weight: 600;
        font-size: 15px;
        padding: 20px 35px;
    }
    .button:first-child:before {
        content: '';
        width: 26px;
        height: 26px;
        display: inline-block;
        background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='13' fill='white'/%3E%3Cpath d='M9.5 13C9.22386 13 9 13.2239 9 13.5C9 13.7761 9.22386 14 9.5 14L9.5 13ZM18.8536 13.8536C19.0488 13.6583 19.0488 13.3417 18.8536 13.1464L15.6716 9.96447C15.4763 9.7692 15.1597 9.7692 14.9645 9.96447C14.7692 10.1597 14.7692 10.4763 14.9645 10.6716L17.7929 13.5L14.9645 16.3284C14.7692 16.5237 14.7692 16.8403 14.9645 17.0355C15.1597 17.2308 15.4763 17.2308 15.6716 17.0355L18.8536 13.8536ZM9.5 14L18.5 14L18.5 13L9.5 13L9.5 14Z' fill='url(%23paint0_linear_1_628)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_628' x1='3.26923' y1='6.50001' x2='21.502' y2='12.9456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230239FE'/%3E%3Cstop offset='1' stop-color='%23027FFE'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center /cover no-repeat;
        margin-right: 15px;
    }
    .button:last-child {
        background-color: #26272E;
        border: 2px solid $accent-color;
        padding: 20px 58px;
        &:hover {
            background-color: #2e2f3b;
        }
    }
    &__btns {
        font-size: 15px;
        gap: 30px;
    }

    //+ first__next-item

    &__next-item {
        height: inherit;
    }
}
@media (max-width: 1199px) {
    .first__wrapper {
        padding-top: 100px;
    }
}
@media (max-width: 767px) {
    .first {
        &__inner-wrapper {
            border-right: none;
            padding: 30px 0 30px;
            &:after {
            content: '';
                display: none;
            }
        }
    }
}
@media (max-width: 531px) {
    .first {
        .button {
            width: 100%;
            justify-content: center;
        }
    }
}

//+ promotion:
.promotion {
    min-height: 804px;
    height: 100%;
    &__wrapper{
        position: relative;
    }
    .owl-carousel {
        padding-bottom: 40px;
        overflow: hidden;
    }
    .owl-stage-outer {
        overflow: unset;
    }
    &__nav-prev,
    &__nav-next {
        height: 64px;
        width: 21px;
        background: url(../img/svg/arrow-left.svg) center center /cover no-repeat;
        cursor: pointer;
        position: absolute;
        top: 50%;
    }
    &__nav-prev {
        left: -50px;
    }
    &__nav-next {
        transform: rotate(180deg);
        right: -34px;
    }
}
@media (max-width: 1549px) {
    .promotion {
        &__nav-prev {
            background-color: #0000005e;
            backdrop-filter: blur(4px);
            left: 10px;
            z-index: 10;
        }
        &__nav-next {
            background-color: #0000005e;
            backdrop-filter: blur(4px);
            transform: rotate(180deg);
            right: 10px;
            z-index: 10;
        }
    }
}

//+ questions:
.questions {
    padding: 100px 0;
    position: relative;
    &__image-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &:after {
            content: '';
            height: 100%;
            width: 100%;
            display: block;
            background: linear-gradient(126deg, rgba(6, 59, 162, 0.8) 0%, rgba(25, 27, 23, 0.8) 100%);
            transform: rotate(-180deg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__data-wrapper {
        background: #181a16;
        border-radius: 20px;
        padding: 80px 60px;
    }
    .heading-big {
        margin-bottom: 30px;
    }
    &__text {
        
        color: $light-color;
        font-size: 20px;
        line-height: 1.5;
    }
    &__form {
        height: 100%;
        max-width: 600px;
        justify-content: space-between;
    }
    &__text-up {
        color: $light-color;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
    &__inner-wrapper {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrap {
        position: relative;
    }
    &__text-up {
        display: block;
        position: absolute;
        left: 10px;
        top: 1.8px;
        padding: 0 4px;
        font-size: 14px;
        transition: all .15s ease-out;
    }
    &__input {
        color: $light-color;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ececec;
        position: absolute;
        top: 0;
        left: 0;
        &:focus, &:target{
            background: none;
            border: 0 ;
            outline: 0;
            border-bottom: 1px solid #ececec;
        }
    }
    .questions__input:focus + .questions__text-up {
        top: -20px;
        left: 8px;
    }
    .questions__input:not(:placeholder-shown).questions__input:not(:focus) + .questions__text-up {
        top: -20px;
        left: 8px;
    }
    &__btn {
        max-width: 200px;
        padding: 16px 57px;
    }
    &__checkbox {
        opacity: 0;
        height: 0;
        width: 0;
        position: relative;
        & + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        & + label:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #9e9e9e;
            background: #e0dfdf;
            cursor: pointer;
            margin-right: 16px;
        }
        &:checked {
            background-color: #000;
            position: relative;
            &+label:before {
                content: "";
                background: url(../img/svg/check.svg) center no-repeat;
                border-color: $accent-color;
                background-color: $accent-color;
            }
        }
        &:not(:disabled):not(:checked) + label:hover:before {
            border: 1.5px solid $accent-color;
        }
        &:not(:disabled):active + label:before {
            background-color: $accent-color;
        }
        &:focus + label:before {
            box-shadow: 0 0 5px rgb(255, 255, 255);
        }
        &:focus:not(:checked) + label:before {
            border-color: $accent-color;
          }
        &:disabled + label:before {
            background-color: #e9ecef;
        }
    }
    &__checkbox-text {
        max-height: 63px;
        overflow-y: hidden;
        color: #9e9e9e;
        font-size: 14px;
        line-height: 1.5;
        padding-left: 5px;
    }
}
@media (max-width: 1259px) {
    .questions {
        &__data-wrapper {
            padding: 70px 40px;
        }
        &__input {
            max-width: 170px;
        }
        &__btn {
            max-width: 175px;
            padding: 15px 45px;
        }    
    }
}
@media (max-width: 1199px) {
    .questions {
        &__text {
            font-size: 14px;
        }
    }
}
@media (max-width: 991px) {
    .questions {
        padding: 70px 0;
        .row {
            row-gap: 50px;
        }
        &__data-wrapper {
            padding: 50px 40px;
        }
        .heading-big {
            margin-bottom: 20px;
        }
        &__form  {
            height: 120px;
        }
    }
}
@media (max-width: 519px) {
    .questions {
        padding: 60px 0;
        .row {
            row-gap: 35px;
        }
        &__data-wrapper {
            padding: 40px 40px;
        }
        &__form  {
            height: 280px;
            width: 100%;
            flex-direction: column;
            column-gap: 30px;
        }
        &__inner-wrapper {
            height: 110px;
            width: 100%;
        }
        &__input {
            min-width: 100%;
        }
        &__btn {
            max-width: 100%;
            justify-content: center;
            padding: 15px 45px;
        }
    }
}

//+ work:
.work {
    background: linear-gradient(314deg, #181a16 0%, #021c7a 71.12%, #0555bf 100%);
    padding: 88px 0 120px;
    &__wrapper {
        display: grid;
        gap: 18px 20px;
        grid-template: 273px 268px / repeat(4, 1fr);
        grid-auto-rows: 1fr;
        padding-bottom: 60px;
    }
    &__imege-wrapper {
        border-radius: 20px;
        background-color: #EAE2DF;
        &:first-child {
            grid-row: 1 / 3;
        }
        &:nth-child(2) {
            grid-column: 2 / 4;
        }
        &:nth-child(3) {
            grid-column: 4;
            grid-row: 1 / 3;
        }
    }
    &__img {
        border-radius: inherit;
        object-fit: cover;
    }
    &__text {
        color: $stroke;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }
    &__text + &__text {
        margin-top: 30px;
    }
}
@media (max-width: 991px) {
    .work {
        padding: 70px 0 100px;
        &__wrapper {
            padding-bottom: 50px;
            grid-template: 1fr 1fr / repeat(3, 1fr);
        }
        &__imege-wrapper {
            border-radius: 20px;
            &:first-child {
                grid-row: 1;
            }
            &:nth-child(2) {
                grid-column: 2;
            }
            &:nth-child(3) {
                grid-column: 3;
                grid-row: 1;
            }
        }
    }
}
@media (max-width: 575px) {
    .work {
        padding: 50px 0 70px;
        &__wrapper {
            grid-template: 1fr 1fr / repeat(2, 1fr);
        }
        &__imege-wrapper {
            &:nth-child(2) {
                grid-column: auto;
            }
            &:nth-child(3) {
                grid-column: auto;
            }
            grid-auto-rows: 1fr;
        }
        &__text {
            font-size: 14px;
        }
        &__text + &__text {
            margin-top: 20px;
        }
    }
}
@media (max-width: 439px) {
    .work {
        &__wrapper {
            grid-template: 1fr 1fr / 1fr;
        }
        &__imege-wrapper {
            &:nth-child(3) {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
}

//+ map:
.map {
    position: relative;
    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    &__contacts {
        min-height: 100%;
        background: #181a16;
        padding: 70px 60px;
        color: $light-color;
        font-size: 16px;
        line-height: 1.5;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        &:before {
            content: "";
            height: 106px;
            width: 106px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
            position: absolute;
            top: -37px;
            right: -53px;
        }
        &:after {
            content: "";
            height: 33px;
            width: 33px;
            display: block;
            background: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.86631 12.1669L6.81041 12.2973C6.2297 13.6252 5.93144 15.0594 5.9346 16.5087C5.93452 18.0787 6.28434 19.629 6.95862 21.0469C7.63291 22.4647 8.6147 23.7145 9.83262 24.7053C11.0505 25.6961 12.4739 26.403 13.9994 26.7746C15.5248 27.1463 17.1138 27.1733 18.651 26.8537C20.1881 26.5341 21.6348 25.8759 22.8856 24.9271C24.1365 23.9782 25.1602 22.7625 25.8822 21.3684C26.6043 19.9743 27.0066 18.4367 27.0598 16.8676C27.1131 15.2985 26.816 13.7372 26.1901 12.2973L26.1342 12.1669C25.2986 10.3113 23.945 8.73658 22.236 7.63185C20.5269 6.52713 18.5352 5.93945 16.5003 5.93945C14.4653 5.93945 12.4736 6.52713 10.7645 7.63185C9.05551 8.73658 7.70187 10.3113 6.86631 12.1669ZM18.9227 11.6544H14.0778C14.702 9.26924 15.7176 7.88098 16.5003 7.88098C17.2829 7.88098 18.2985 9.26924 18.9227 11.6544ZM25.1559 16.5087C25.1579 17.4797 24.9941 18.4439 24.6714 19.3597H21.2613C21.3748 18.4136 21.4308 17.4615 21.429 16.5087C21.4324 15.5338 21.3733 14.5597 21.252 13.5924H24.6248C24.9686 14.5266 25.1483 15.5132 25.1559 16.5087ZM19.5656 16.5087C19.5643 17.462 19.5021 18.4143 19.3793 19.3597H13.789C13.6614 18.4148 13.5991 17.4622 13.6026 16.5087C13.6018 15.5333 13.6671 14.5589 13.7983 13.5924H19.3886C19.5197 14.5589 19.5851 15.5333 19.5842 16.5087H19.5656ZM16.5003 25.1643C15.7083 25.1643 14.6368 23.7481 14.0592 21.3163H18.9414C18.3171 23.7295 17.2922 25.1643 16.5003 25.1643ZM7.86325 16.5087C7.86809 15.5138 8.04461 14.5272 8.38501 13.5924H11.7578C11.6334 14.5595 11.5711 15.5336 11.5715 16.5087C11.5727 17.4617 11.6318 18.4138 11.7485 19.3597H8.38501C8.06664 18.4428 7.90291 17.4793 7.90052 16.5087H7.86325ZM13.174 8.5425C13.0436 8.79407 12.9225 9.06426 12.8013 9.3531C12.5069 10.0993 12.2762 10.8692 12.1119 11.6544H9.36331C10.3105 10.2747 11.6328 9.19484 13.174 8.5425ZM9.31673 21.2977H12.1119C12.2902 22.1089 12.5365 22.9036 12.8479 23.6736C12.9691 23.9531 13.0902 24.2233 13.2206 24.4842C11.6338 23.8298 10.2757 22.7213 9.31673 21.2977ZM19.8172 24.4842C19.9476 24.2233 20.078 23.9531 20.1992 23.6736C20.5075 22.9033 20.7506 22.1086 20.9259 21.2977H23.7211C22.7733 22.7167 21.4284 23.825 19.8544 24.4842H19.8172ZM23.6279 11.6544H20.9166C20.7359 10.8612 20.4961 10.0826 20.1992 9.32514C20.078 9.03631 19.9476 8.76611 19.8172 8.51455C21.3614 9.16188 22.685 10.2428 23.6279 11.6265V11.6544Z' fill='white' /%3E%3Cpath d='M30.998 8.60599C31.0354 8.47258 31.0542 8.33462 31.0539 8.19604V4.84186C31.0514 4.44316 30.8913 4.06164 30.6085 3.78059C30.3257 3.49953 29.9432 3.34179 29.5445 3.3418H26.1903C25.7925 3.3418 25.4109 3.49984 25.1296 3.78116C24.8483 4.06247 24.6902 4.44402 24.6902 4.84186V8.19604C24.6902 8.59388 24.8483 8.97543 25.1296 9.25674C25.4109 9.53806 25.7925 9.6961 26.1903 9.6961H29.3861C30.6893 12.174 31.2521 14.9746 31.0073 17.7636C30.7624 20.5527 29.7204 23.2124 28.0054 25.4254C26.2903 27.6384 23.9749 29.3112 21.3352 30.2443C18.6955 31.1774 15.8431 31.3313 13.1183 30.6877C12.8712 30.6284 12.6107 30.6697 12.394 30.8024C12.1773 30.9352 12.0223 31.1487 11.963 31.3958C11.9037 31.6429 11.945 31.9034 12.0778 32.1201C12.2106 32.3368 12.424 32.4918 12.6711 32.5511C15.7739 33.2891 19.024 33.1127 22.0286 32.043C25.0333 30.9734 27.6638 29.0564 29.6022 26.5237C31.5406 23.991 32.704 20.9511 32.9517 17.7714C33.1994 14.5917 32.5208 11.4083 30.998 8.60599ZM26.6189 5.27045H29.1159V7.76745H26.6189V5.27045Z' fill='white' /%3E%3Cpath d='M7.69558 24.4925H4.31345C2.47804 21.6947 1.66141 18.3505 2.00074 15.0216C2.34007 11.6928 3.8147 8.58212 6.17689 6.21222C8.05299 4.33486 10.4059 3.00516 12.982 2.36647C15.5581 1.72778 18.2597 1.80432 20.7955 2.58784C21.0426 2.66321 21.3095 2.63733 21.5376 2.51589C21.7656 2.39445 21.936 2.18741 22.0114 1.9403C22.0868 1.69319 22.0609 1.42627 21.9395 1.19825C21.818 0.970223 21.611 0.799779 21.3639 0.724412C18.4945 -0.154261 15.4401 -0.235186 12.5282 0.490319C9.61631 1.21582 6.9569 2.72038 4.83521 4.8426C2.11959 7.55972 0.435824 11.1383 0.073618 14.9628C-0.288588 18.7872 0.693409 22.6183 2.85066 25.7969C2.8458 25.8651 2.8458 25.9336 2.85066 26.0019V29.3561C2.85066 29.7539 3.0087 30.1354 3.29002 30.4168C3.57133 30.6981 3.95288 30.8561 4.35072 30.8561H7.7049C8.10199 30.8537 8.48212 30.6948 8.76291 30.4141C9.04369 30.1333 9.20252 29.7531 9.20496 29.3561V26.0019C9.20252 25.6023 9.04271 25.2198 8.76018 24.9373C8.47764 24.6547 8.09514 24.4949 7.69558 24.4925ZM7.26699 28.8902H4.77931V26.4305H7.26699V28.8902Z' fill='white' /%3E%3C/svg%3E") center /cover no-repeat;
            position: absolute;
            top: 0px;
            right: -16px;
        }
    }
    a:hover {
        color: #e7e7e7;
    }
    &__address {
        position: relative;
        top: 0;
        left: 36px;
    }
    &__address:before {
        content: "";
        height: 24px;
        width: 24px;
        display: inline-block;
        background: url(../img/svg/label.svg) center /cover no-repeat;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: -36px;
    }
    &__address-wrapper:after {
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        background:  rgba(236, 236, 236, 0.25);
        margin: 16px 0;
    }
    &__address-wrapper:last-child:after {
        display: none;
    }
    &__wrapper-contact {
        flex-direction: column;
        gap: 16px;
    }
    &__wrapper-contact + &__wrapper-contact {
        margin-top: 30px;
    }
    &__icon {
        color: $accent-color;
        margin-right: 12px;
    }
    &__tel {
        align-items: center;
        &:before {
            content: "";
            height: 24px;
            width: 24px;
            display: inline-block;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_866)'%3E%3Cpath d='M10.8561 13.1439C9.68608 11.9739 8.80408 10.6639 8.21808 9.33487C8.09408 9.05387 8.16708 8.72487 8.38408 8.50787L9.20308 7.68987C9.87408 7.01887 9.87408 6.06987 9.28808 5.48387L8.11408 4.30987C7.33308 3.52887 6.06708 3.52887 5.28608 4.30987L4.63408 4.96187C3.89308 5.70287 3.58408 6.77187 3.78408 7.83187C4.27808 10.4449 5.79608 13.3059 8.24508 15.7549C10.6941 18.2039 13.5551 19.7219 16.1681 20.2159C17.2281 20.4159 18.2971 20.1069 19.0381 19.3659L19.6891 18.7149C20.4701 17.9339 20.4701 16.6679 19.6891 15.8869L18.5161 14.7139C17.9301 14.1279 16.9801 14.1279 16.3951 14.7139L15.4921 15.6179C15.2751 15.8349 14.9461 15.9079 14.6651 15.7839C13.3361 15.1969 12.0261 14.3139 10.8561 13.1439V13.1439Z' fill='%230575E6' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_866'%3E%3Crect width='24' height='24' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center /cover no-repeat;
            margin-right: 12px;
        }
    }
    &__email {
        align-items: center;
        &:before {
            content: "";
            height: 24px;
            width: 24px;
            display: inline-block;
            background: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7674 8.11182L20.7692 12.7618V3.26545L13.7674 8.11182Z' fill='%230575E6' /%3E%3Cpath d='M0 3.26545V12.7618L7.00183 8.11182L0 3.26545Z' fill='%230575E6' /%3E%3Cpath d='M19.4712 0.5H1.29808C0.650337 0.5 0.136298 1.00727 0.0389423 1.66045L10.3846 8.82091L20.7303 1.66045C20.6329 1.00727 20.1189 0.5 19.4712 0.5Z' fill='%230575E6' /%3E%3Cpath d='M12.5784 8.93545L10.7416 10.2064C10.6325 10.2814 10.5092 10.3182 10.3846 10.3182C10.26 10.3182 10.1367 10.2814 10.0276 10.2064L8.19087 8.93409L0.0415385 14.3491C0.14149 14.9968 0.652933 15.5 1.29808 15.5H19.4712C20.1163 15.5 20.6277 14.9968 20.7277 14.3491L12.5784 8.93545Z' fill='%230575E6' /%3E%3C/svg%3E") center no-repeat;
            margin-right: 12px;
        }
    }
    &__mode {
        align-items: center;
        &:before {
            content: "";
            height: 24px;
            width: 24px;
            display: inline-block;
            background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_883)'%3E%3Cpath d='M8.55697 3.68708C13.148 1.78508 18.411 3.96608 20.313 8.55708C22.215 13.1481 20.034 18.4111 15.443 20.3131C10.852 22.2151 5.58897 20.0341 3.68697 15.4431C1.78597 10.8521 3.96597 5.58908 8.55697 3.68708Z' fill='%230575E6' /%3E%3Cpath d='M11.718 7.98511V12.6361L15.374 14.8651' stroke='%23F7F8FB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_883'%3E%3Crect width='24' height='24' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center /cover no-repeat;
            margin-right: 12px;
        }
    }
    &__mode {
        margin-top: 16px;
    }
}
@media (max-width: 767px) {
    .col-sm-5 {
        max-width: 55% !important;
    }
    .map__contacts {
        padding: 60px 35px;
    }
    .map__contacts {
        font-size: 14px;
    }
}
@media (max-width: 474px) {
    .map {
        height: 580px;
        &__contacts {
            display: none;
        }
    }
}

.hidden {
    display: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}