$accent-color: #012BBF;
$light-color: #fff;
$stroke: #D9D9D9;

$fw-5: 500;
@mixin before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 46px;
    transform: translateY(-80%);
    border-radius: 20px;
    background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
    box-shadow: 0px 0px 10px $accent-color;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 0;
}
@mixin text {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4;
}
@mixin btn-hov {
    background-color: #2546be;
    transition: all .8s;
}

//+ base:
* {
    font-family: Rubik, sans-serif;
    &:hover {
        text-decoration: none !important;
    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0px 10px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}

a:hover {
    color: inherit;
}

//+ btn:

.button {
    display: flex;
    align-items: center;
    background-color: $accent-color;
    color: $light-color;
    line-height: 1.4;
    border: none;
    border-radius: 40px;
    &:hover {
        @include btn-hov;
    }
}

//+ heading:

.heading-small {
    color: $stroke;
    font-weight: $fw-5;
    font-size: 18px;
    line-height: 1.4;
    padding-left: 70px;
    margin-bottom: 27px;
    position: relative;
    &:before {
        @include before;
    }
}
.heading-big {
    color: $light-color;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    padding-left: 70px;
    margin-bottom: 60px;
    position: relative;
    &:before {
        @include before;
    }
}

.heading-white {
    color: $light-color;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    &:before {
        @include before;
    }
}

.heading-black {
    color: #181a16;
    font-weight: $fw-5;
    font-size: 36px;
    line-height: 1.4;
    &:before {
        @include before;
    }
}

//+ cads:
.cards {
    .row {
        gap: 40px;
        padding: 0 15px;
    }
    &__card {
        color: rgba(#000, 12%);
        border-radius: 20px;
        min-height: 293px;
        background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
        position: relative;
        &:nth-child(2),
        &:nth-child(3) {
            color: rgba(255, 255, 255, 12%);
            background: #26272E;
            &:before {
                content: '';
                display: block;
                width: 26px;
                height: 94px;
                background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
                border-radius: 20px;
                position: absolute;
                top: 30px;
                left: -10px;
                z-index: -1;
            }
        }
        &:nth-child(3):after {
            content: '';
            height: 293px;
            width: 320px;
            display: block;
            background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
            border-radius: 20px;
            position: absolute;
            left: 47px;
            bottom: -32px;
            z-index: -1;
        }
    }
    &__wrapper {
        overflow: hidden;
        line-height: 1.4;
        padding: 95px 73px 35px 30px;
    }
    &__number {
        font-weight: 700;
        font-size: 81px;
        line-height: 1.4;
        color: inherit;
        position: absolute;
        right: 18px;
    }
    &__data {
        color: $light-color;
        font-weight: 700;
        font-size: 50px;
        &:after {
            content: '';
            height: 2px;
            width: 90px;
            display: block;
            border-radius: 8px;
            background-color: $light-color;
            margin: 8px 0;
        }
    }
    &__text {
        color: #d9d9d9;
        font-weight: 400;
        font-size: 18px;
    }
}
.anime {
    animation-fill-mode: forwards;
    animation-direction:unset;
    height: 293px;
    width: 320px;
    display: block;
    font-size: 16px;
    background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
    border-radius: 20px;
    position: absolute;
    top: -100%;
    left: 15px;
    z-index: 0;
}
@keyframes cube-0 {
    0% {
        top: -100%;
    }
    50% {
        top: 10%;
    }
    100% {
        background: #26272E;
        top: 453px;
        left: 60px;
    }
}
@keyframes cube-1 {
    0% {
        top: -100%;
    }
    50% {
        top: 10%;
    }
    100% {
        top: 453px;
        left: 445px;
    }
}

//+ product-card:
.product-card {
    min-height: 390px;
    height: 100%;
    width: 328px;
    flex-direction: column;
    border-radius: 20px;
    background: #fff;
    padding: 30px 20px;
    // position: relative;
    &:hover {
        min-height: calc(390px + 22px);
        transition: .5s;
    }
    &__btm {
        height: 54px;
        width: 200px;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        color: $light-color;
        background: #012bbf;
        border-radius: 40px;
        transition: 1.5s;
        position: absolute;
        bottom: -22px;
        transform: translateX(-50%);
        left: 50%;
    }
    &:hover > &__btm {
        opacity: 1;
        transition: .7s;
        &:hover {
            border: 1.5px solid #012bbf;
            background-color: #ffffff;
            transition: .8s;
        }
    }
    &__promotion {
        color: $light-color;
        border-radius: 20px;
        background: linear-gradient(316deg, #0575e6 1.31%, #021b79 100%);
        padding: 5px 35px;
    }
    &__link {
        font-size: 14px;
        line-height: 1.7;
        color: #ccc;
        transition: .5s;
        &:after {
            content: '';
            display: inline-block;
            height: 15px;
            width: 30px;
            background: url("data:image/svg+xml,%3Csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9H30V7H0V9Z' fill='url(%23paint0_linear_92_80)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_92_80' x1='-7' y1='6.99999' x2='28.5' y2='8.00002' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23032A8B' /%3E%3Cstop offset='1' stop-color='%231472DF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") center /cover no-repeat;
            transform: translateY(28%);
            margin-left: 8px;
        }
    }
    &__image-wrapper {
        height: 214px;
        max-width: 326px;
    }
    &__description {
        color: #181a16;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        padding-top: 18px;
        border-bottom: 1px solid rgb(217, 217, 217);
        padding-bottom: 11px;
        margin-bottom: 11px;
    }
    &__price {
        gap: 20px;
        align-items: center;
        color: #012bbf;
        font-weight: 600;
        font-size: 26px;
        line-height: .9;
    }
    &__discount {
        color: #ccc;
        text-decoration: line-through !important; //+ Т.к. я у всех ссылок изначально сбросил...
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
    }
}

//+ sections:
.section {
    padding: 120px 0;
}
.gradient {
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        background: linear-gradient(314deg, #181a16 0%, #021c7a 71.12%, #0555bf 100%);
        transform: rotate(-180deg);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}


//+ header:
.bg-blure {
    background: rgba(#021c7a, 60%);
    backdrop-filter: blur(4px);
    transition: background .8s, backdrop-filter .8s, padding-bottom .5s;
    padding-bottom: 20px;
}
.header {
    width: 100%;
    padding-top: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    &__logo {
        height: 98px;
        width: 209px;
        object-fit: cover;
    }
    &__top {
        margin-bottom: 16px;
    }
    &__search {
        height: 40px;
        width: 100%;
        background: transparent;
        border: 1px solid rgba(217, 217, 217, 0.4);
        border-radius: 40px;
        padding: 10px 20px;
        @include text;
        color: $stroke;
        &::placeholder {
            color: inherit;
        }
    }
    &__contact {
        justify-content: end;
        gap: 44px;
        color: $light-color;
        font-size: 16px;
        line-height: 1.5;
    }
    &__lin {
        color: $light-color;
    }
    &__contact i {
        color: $accent-color;
        margin-right: 13px;
    }
    &__bottom {
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
        gap: 20px;
        font-weight: $fw-5;
        list-style-type: none;
        @include text;
        color: $light-color;
        padding: 0;
        margin: 0;
    }
    .button-header {
        font-weight: 500;
        font-size: 16px;
        padding: 16px 36px;
    }
    &__link {
        color: inherit;
    }
    a:hover {
        text-decoration: underline !important;
    }
}

//+ main:
//+ first:
.first {
    min-height: 900px;
    height: 100%;
    .owl-stage {
     display: flex;   
    }
    &__main-item {
        height: 100%;
        overflow: hidden;
    }
    &__wrapper {
        height: inherit;
        padding-top: 150px;
    }
    .container {
        height: inherit;
        position: relative;
    }
    &__inner-wrapper {
        height: inherit;
        border-right: 1px solid $stroke;
        padding: 50px 0 51px;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 150%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__image-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    &__image-inner-wrapper {
        height: inherit;
        width: inherit;
        &:after {
            content: '';
            width: 50%;
            height: 100%;
            background: linear-gradient(90deg, #181b17 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            top: 0;
        }
    }
    &__img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
    &__offer {
        margin-bottom: 57px;
    }
    &__h1 {
        color: rgba($light-color, 10%);
        font-weight: 600;
        font-size: 54px;
        -webkit-text-stroke: .5px $light-color;
        line-height: 1.4;
    }
    &__subheading {
        color: $light-color;
        font-weight: $fw-5;
        font-size: 50px;
        line-height: 1.4;
        margin-bottom: 50px;
    }
    .button-first {
        font-weight: 600;
        font-size: 15px;
        padding: 20px 35px;
    }
    .button:first-child:before {
        content: '';
        width: 26px;
        height: 26px;
        display: inline-block;
        background: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='13' fill='white'/%3E%3Cpath d='M9.5 13C9.22386 13 9 13.2239 9 13.5C9 13.7761 9.22386 14 9.5 14L9.5 13ZM18.8536 13.8536C19.0488 13.6583 19.0488 13.3417 18.8536 13.1464L15.6716 9.96447C15.4763 9.7692 15.1597 9.7692 14.9645 9.96447C14.7692 10.1597 14.7692 10.4763 14.9645 10.6716L17.7929 13.5L14.9645 16.3284C14.7692 16.5237 14.7692 16.8403 14.9645 17.0355C15.1597 17.2308 15.4763 17.2308 15.6716 17.0355L18.8536 13.8536ZM9.5 14L18.5 14L18.5 13L9.5 13L9.5 14Z' fill='url(%23paint0_linear_1_628)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_628' x1='3.26923' y1='6.50001' x2='21.502' y2='12.9456' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230239FE'/%3E%3Cstop offset='1' stop-color='%23027FFE'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center /cover no-repeat;
        margin-right: 15px;
    }
    .button:last-child {
        background-color: #26272E;
        border: 2px solid $accent-color;
        padding: 20px 58px;
        &:hover {
            background-color: #2e2f3b;
        }
    }
    &__btns {
        font-size: 15px;
        gap: 30px;
    }

    //+ first__next-item

    &__next-item {
        height: inherit;
    }
}

//+ promotion:
.promotion {
    min-height: 804px;
    height: 100%;
    &__wrapper{
        position: relative;
    }
    .owl-carousel { // Он скрыл кнопки
        padding-bottom: 40px;
        overflow: hidden;
    }
    .owl-stage-outer {
        overflow: unset;
    }
    .owl-prev,
    .owl-next {
        height: 64px;
        width: 21px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 8;
    }
    .owl-prev {
        background: url(../img/svg/arrow-left.svg) center center /cover no-repeat;
        left: -45px;
    }
    .owl-next {
        background: url(../img/svg/arrow-right.svg) center center /cover no-repeat;
        right: -34px;
    }
}

//+ questions:
.questions {
    padding: 100px 0;
    position: relative;
    &__image-wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &:after {
            content: '';
            height: 100%;
            width: 100%;
            display: block;
            background: linear-gradient(126deg, rgba(6, 59, 162, 0.8) 0%, rgba(25, 27, 23, 0.8) 100%);
            transform: rotate(-180deg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__data-wrapper {
        background: #181a16;
        border-radius: 20px;
        padding: 80px 60px;
    }
    .heading-big {
        margin-bottom: 30px;
    }
    &__text {
        
        color: $light-color;
        font-size: 20px;
        line-height: 1.5;
    }
    &__form {
        height: 100%;
        max-width: 600px;
        justify-content: space-between;
    }
    &__text-up {
        color: $light-color;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
    &__inner-wrapper {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrap {
        position: relative;
    }
    &__text-up {
        display: block;
        position: absolute;
        left: 10px;
        top: 1.8px;
        padding: 0 4px;
        font-size: 14px;
        transition: all .15s ease-out;
    }
    &__input {
        color: $light-color;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ececec;
        position: absolute;
        top: 0;
        left: 0;
        &:focus, &:target{
            background: none;
            border: 0 ;
            outline: 0;
            border-bottom: 1px solid #ececec;
        }
    }
    .questions__input:focus + .questions__text-up {
        top: -20px;
        left: 8px;
    }
    .questions__input:not(:placeholder-shown).questions__input:not(:focus) + .questions__text-up {
        top: -20px;
        left: 8px;
    }
    &__btn {
        max-width: 200px;
        padding: 16px 57px;
    }
    &__checkbox {
        opacity: 0;
        height: 0;
        width: 0;
        position: relative;
        & + label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        & + label:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #9e9e9e;
            background: #e0dfdf;
            cursor: pointer;
            margin-right: 16px;
        }
        &:checked {
            background-color: #000;
            position: relative;
            &+label:before {
                content: "";
                background: url(../img/svg/check.svg) center no-repeat;
                border-color: $accent-color;
                background-color: $accent-color;
            }
        }
        &:not(:disabled):not(:checked) + label:hover:before {
            border: 1.5px solid $accent-color;
        }
        &:not(:disabled):active + label:before {
            background-color: $accent-color;
        }
        &:focus + label:before {
            box-shadow: 0 0 5px rgb(255, 255, 255);
        }
        &:focus:not(:checked) + label:before {
            border-color: $accent-color;
          }
        &:disabled + label:before {
            background-color: #e9ecef;
        }
    }
    &__checkbox-text {
        color: #9e9e9e;
        font-size: 14px;
        line-height: 1.5;
    }
}

//+ work:
.work {
    background: linear-gradient(314deg, #181a16 0%, #021c7a 71.12%, #0555bf 100%);
    padding: 88px 0 120px;
    &__wrapper {
        display: grid;
        gap: 18px 20px;
        grid-template: 273px 268px / repeat(4, 1fr);
        padding-bottom: 60px;
    }
    &__imege-wrapper {
        border-radius: 20px;
        background-color: #EAE2DF;
        &:first-child {
            grid-row: 1 / 3;
        }
        &:nth-child(2) {
            grid-column: 2 / 4;
        }
        &:nth-child(3) {
            grid-column: 4;
            grid-row: 1 / 3;
        }
    }
    &__img {
        border-radius: inherit;
        object-fit: cover;
    }
    &__text {
        color: $stroke;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }
    &__text + &__text {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 1400px;
    }
}